html *::-webkit-scrollbar {
    width: 7px;
    height: 10px;
    border-radius: 0;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgb(131 131 131 / 63%);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

html {
    scroll-padding-top: 100px;
}

@font-face {
    font-family: ltims;
    src: url("../public/font/font-item.ttf");
}

@font-face {
    font-family: Poppins;
    src: url("../../public//font/Poppins-Light.ttf");
}

@font-face {
    font-family: NotoSans;
    src: url("../../public/font/NotoSans-ExtraBold.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slide {
    width: 70%;
    height: 400px;
    position: relative;
    margin: 50px auto;
}

.slide .image {
    width: 100%;
    height: 100%;
}

.showDetails .image {
    width: 333px;
    display: block;
    position: relative;
    overflow: hidden;
    background-color: rgb(39 39 39);
    padding-top: 100%;
    border-bottom: 1px solid rgb(200 200 200);
    color: #fff;
}

.showDetails .image img {
    width: 100%;
    transition: all 0.35s ease-out 0s;
    -webkit-transition: all 0.35s ease-out 0s;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    object-fit: cover;
    margin: auto;
}

.productDetail .order {
    width: 255px;
    padding: 2px 10px 10px 10px;
}

.order .saleProduct {
    color: #f94949;
    font-size: 13px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(200 200 200 / 24%);
    font-family: "ltims", sans-serif;
}

.slide .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 13px;
}

.hello {
    position: absolute;
    top: 46px;
    left: 235px;
    color: white;
}

.hello p {
    font-size: 50px;
    font-family: "ltims", sans-serif;
}

.listProductName {
    margin: 50px 0 0 0;
    text-align: center;
    font-family: "ltims", sans-serif;
}

.listProductName h3 {
    font-family: "ltims", sans-serif;
}

.list h3 {
    font-size: 27px;
}

.list h3 span {
    font-size: 20px;
}

.productAll {
    width: 83%;
    margin: auto;
    padding: 22px 0px;
    margin-bottom: 50px;
}

.product {
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    padding: 25px 30px;
    width: 100%;
    justify-content: end;
    position: relative;
}

.allResults {
    width: 280px;
    height: 361px;
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
}

.product .results {
    flex-wrap: wrap;
    width: 180px;
    height: 300px;
    margin: 12px;
    box-shadow: 0 0 3px rgb(88 85 85);
    cursor: pointer;
    background-color: rgb(255 255 255);
}

.results:hover {
    box-shadow: 0 0 5px;
}

.results .productAvatar {
    display: block;
    position: relative;
    overflow: hidden;
    background-color: rgb(39 39 39);
    padding-top: 100%;
    border-bottom: 1px solid rgb(200 200 200);

    color: #fff;
}

.hoverShow {
    display: block !important;
}

.productAvatar img {
    width: 100%;
    transition: all 0.35s ease-out 0s;
    -webkit-transition: all 0.35s ease-out 0s;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    object-fit: cover;
    margin: auto;
}

.productOverview {
    width: 100%;
    padding: 5px;
}

.productOverview .productName {
    width: 100%;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    display: flex;
    text-align: center;
    font-weight: 600;
    color: rgb(106 104 104);
    justify-content: center;
    height: 26px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 0;
}

.results .hoverTitle {
    display: none;
    position: absolute;
    top: 11px;
    box-shadow: 0 0 7px;
    padding: 0 10px;
    z-index: 1;
    background-color: #fff;
    font-family: "ltims", sans-serif;
}

.productName:hover .hoverTilte {
    display: block !important;
}

.productOverview .price {
    font-size: 14px;
    margin: 5px 3px;
    color: #ff0000bd;
    font-family: "ltims", sans-serif;
    height: 14px;
    width: 100%;
}

.order .price p {
    font-family: "ltims", sans-serif;
    color: #ff0000bd;
}

.order .star {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 0 4px 0;
}

.price sup {
    color: #ff0000bd;
}

.submitProduct {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
}

.submitProduct .buyProduct,
.addCart {
    padding: 2px;
    margin: 0 5px;
    border-radius: 5px;
    border: 1px solid rgb(135 135 135);
    color: #4d4d4d;
    cursor: pointer;
    font-size: 13px;
    text-align: center;
}

.addCart {
    width: 63px;
}

.statusProduct,
.statusProduct span {
    color: rgb(0 0 0 / 42%) !important;
    font-size: 0.75rem;
}

.sold,
.sold span {
    color: rgb(0 0 0 / 42%);
    font-size: 13px;
}

.status {
    margin: 3px;
    font-size: 15px;
    width: 100%;

    font-family: "Poppins", sans-serif;
}

.statuss {
    display: flex;
}

:is(.buyProduct, .addCart):hover {
    background-color: rgb(212 210 210);
}

.showDetails {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    width: 608px;
    z-index: 10;
    background-color: rgb(255 255 255);
    padding: 10px;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
}

.show {
    width: 100%;
    position: fixed;
    background-color: #a4a4a4c2;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
}

.resultColor {
    display: flex;
    width: 333px;
    height: 79px;
    align-items: center;
    overflow-y: overlay;
}

.information {
    width: 100%;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
}

.colorProduct {
    width: 50px;
    height: 50px;
    margin: 10px;
    cursor: pointer;
}

.colorProduct:hover {
    border: 1px solid rgb(251, 82, 82);
}

.colorProduct img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-Name {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 0;
}